@model DelieveryDashboardModel;

<div class="form-group d-flex flex-column w-100 me-4">
    <label for="DelieveryDashboard_Classification" class="form-label col-sm-2 control-label top-7 w-100 text-left">Account Manager</label>
    <select class="form-control w-100 mt-1 mb-2 h2-7" id="DelieveryDashboard_Classification" name="DelieveryDashboard.Classification">
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="A">A</option>
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="B">B</option>
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="C">C</option>
    </select>
</div>