@model FieldModel;

<div class="form-group d-flex" style="flex-direction: column;">
    <label for="@Model.Text" class="form-label col-sm-2 control-label top-7 w-100 text-left mt-4">@Model.Text</label>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100 mt-1 mb-2 h2-7" id="DropDownMenu" style="background-color: #f8fbfb; color: #727070; border-color: #d7d3d3;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Please Select @Model.Text
        </button>
        <ul class="dropdown-menu gap-1 p-2 rounded-3 mx-0 shadow w-220px" style="width: 21.2rem;">
            @foreach (var item in Model.Items)
            {
                <li><a class="dropdown-item rounded-2" href="#">@item.Text</a></li>
            }
        </ul>
    </div>
</div>