@model DelieveryDashboardModel;

<div class="form-group d-flex flex-column w-100 me-4">
    <label for="DelieveryDashboard_PracticeHead" class="form-label col-sm-2 control-label top-7 w-100 text-left">Practice Head</label>
    <select class="form-control w-100 mt-1 mb-2 h2-7" id="DelieveryDashboard_PracticeHead" name="DelieveryDashboard.PracticeHead">
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="Subbu">Subbu</option>
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="Mahesh">Mahesh</option>
        <option class="gap-1 p-2 rounded-3 mx-0 shadow w-220px" value="Dharmesh">Dharmesh</option>
    </select>
</div>

